body {
  background: #fff;
  color: #333;
  font-size: 12px;
  font-family: 'SimSun', '宋体', 'Arial Narrow';
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
.father-root {
  height: 100%;
  width: 100%;
}
